<div class="mdl-grid container">

    <div class="mdl-cell mdl-cell--6-col">
        <h1>{{title}}</h1>
        <p>Welcome to the users index page</p>
    </div>

    <div class="mdl-cell mdl-cell--6-col">
        {{user.username}}
    </div>
</div>