<div class="mdl-grid container">

    <div class="mdl-cell mdl-cell--6-col">
        <h3>{{title}}</h3>
        <p>Welcome {{user.username}} to the users index page</p>
    </div>

    <div class="mdl-cell mdl-cell--6-col">

    </div>
</div>