<div class="mdl-grid container">
    <div class="mdl-cell mdl-cell--6-col">
        <h2 class="mdl-typography--subhead">{{title}}</h2>

        <p>Welcome to the users login page</p>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
        <form role="form" action="/users/login" method="post">

        </form>
    </div>
</div>
