<div class="mdl-grid container">
  <div class="mdl-cell mdl-cell--12-col">
    <div class="login-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{page_title}}</h2>
      </div>

      <div class="mdl-card__supporting-text">
        <form role="form" action="/stacks/create" method="post">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="name" name="name">
                <label class="mdl-textfield__label" for="name">name</label>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="facebook_id" name="facebook_id">
                <label class="mdl-textfield__label" for="facebook_id">facebook id</label>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="client" name="client">
                <label class="mdl-textfield__label" for="client">select client</label>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                      type="submit">
                Create
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>